<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Edit Fox Page</title>
</head>

    <body>
        <a href="/">Home</a>
        <h1>Edit This Fox</h1>
        <form action="/updateFox/<%= fox.id %>" method="POST">
        <h3>Name:<input type="text" name="name" value="<%= fox.name %>" class="formBox"></h3>
        <h3>Size:<input type="text" name="size" value="<%= fox.size %>" class="formBox"></h3>
        <h3>Color:<input type="text" name="color" value="<%= fox.color %>" class="formBox"></h3>
        <h3>Disposition:<input type="text" name="disposition" value="<%= fox.disposition %>" class="formBox"></h3>
        <select aria-placeholder="<%= fox.cuteness %>" name="cuteness">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
        </select><br>
        <input type="submit" value="Create A Fox!">
        </form>
    </body>
</html>